<hl>Portfolio Items</hl>

<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title %></p> 
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.tumb_image %>
<% end %>